header {
   margin-top: 16px;
   box-shadow: rgba(0, 0, 0, 0.2) 0 0 40px 4px;
   z-index: 3;
}

header .name-title {
  min-height: 120px;
  padding: 23px 40px 34px 40px;
}

header .name-title h2 {
  margin: 0;
  font-size: 40px;
  line-height: 2.1em;
  text-transform: uppercase;
}

header .position-title {
  min-height: 120px;
  max-height: 120px;
  background: rgba(0, 0, 0, 0.2);
  padding: 23px 40px 34px 40px;
}

header .position-title h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.8em;
}

header .color-light {
  color: rgba(255, 255, 255, 0.78);
  background: rgba(255,255,255,.4);
  text-shadow: 1px 0px 2px rgba(85, 85, 85, 0.4);
}

header .color-medium-light {
    color: #c1c1c1;
    background: rgba(255,255,255,.3);
    text-shadow: 1px 0px 2px rgba(85, 85, 85, 0.4);
}

header ul {
    padding-left: 0;
    list-style: none;
    margin-left: 0;
    background-color: #D8CFCE;
}

header .photo {
    min-height: 360px;
    background: url("profile-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header #nav {
  margin-top: 8%;
}
header .menuitem {
   min-height: 120px;
   text-align: center;
}
header .menuitem a {
    padding-top: 8%;
    padding-bottom: 8%;
    color: #f2f2f2;
    text-shadow: 1px 0px 2px rgba(85, 85, 85, 0.4);
    text-decoration:none;
}


header .menuitem a i {
    padding-top: 10px;
    display: block;
}

header .menuitem a span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}