<header>
	<div id="top-navigation" class="row nopadding">
			<div class="col-xs-12 col-md-4 col-lg-3 photo">&nbsp;</div>
			<div class="col-xs-12 col-md-8 col-lg-9 nopadding">
				<div class="row nopadding color-light name-title">
					<div class="col-md-12">
						<h2>Stephanie Noel</h2>
					</div>
				</div>
				<div class="row nopadding color-medium-light position-title">
					<div class="col-md-12">
						<h3>Software developer</h3>
					</div>
				</div>
				<ul id="nav" class="row nopadding">
					{{#link-to 'home'}}
					<li class="col-xs-4 col-sm-2 nopadding menuitem green hvr-sweep-to-bottom">
						<a><i class="glyphicon glyphicon-home big-size"></i><span>home</span></a>
					</li>
					{{/link-to}}
					{{#link-to 'resume'}}
					<li class="col-xs-4 col-sm-2 nopadding menuitem blue hvr-sweep-to-bottom">
						<a><i class="glyphicon glyphicon-briefcase big-size"></i><span>resume</span></a>
					</li>
					{{/link-to}}
					{{#link-to 'education'}}
					<li class="col-xs-4 col-sm-2 nopadding menuitem cyan hvr-sweep-to-bottom">
						<a><i class="glyphicon glyphicon-education big-size"></i><span>education</span></a>
					</li>
					{{/link-to}}
					{{#link-to 'skills'}}
					<li class="col-xs-4 col-sm-2 nopadding menuitem red hvr-sweep-to-bottom">
						<a><i class="glyphicon glyphicon-tags big-size"></i><span>skills</span></a>
					</li>
					{{/link-to}}
					{{#link-to 'contact'}}
					<li class="col-xs-4 col-sm-2 nopadding menuitem orange hvr-sweep-to-bottom">
						<a><i class="glyphicon glyphicon-envelope big-size"></i><span>contacts</span></a>
					</li>
					{{/link-to}}
					<li class="col-xs-4 col-sm-2 nopadding menuitem yellow hvr-sweep-to-bottom">
					<a href="assets/CVStephanieNoel.pdf"><i class="glyphicon glyphicon-download-alt big-size"></i><span>Download</span></a>
					</li>
				</ul>
			</div>
	</div>
</header>

{{outlet}}