<section id="skills" class="main-content container-fluid nopadding">
    <div class="row nopadding skin">
    	<div class="padding-50">
    		<div class="row">
				<div class="col-md-12 section-title">
					<h3 class="uppercase">Contact</h3>
				</div>
			</div>
			<div class="row nopadding">
		        <div class="col-md-6 col-xs-12">
		            <div class="contact-item">
		            	<div class="icon">
		            		<div class="col-md-2 col-xs-4">
			            		<span class="fa fa-phone fa-fw"></span>
			            	</div>
			            	<div class="col-md-10 col-xs-8">
		              			<span class="title">+33 7 88 49 12 38</span>
		              		</div>
		              		<div class="clear"></div>
		              	</div>
		            </div>
		        </div>
		        <div class="col-md-6 col-xs-12">
		            <div class="contact-item">
		            	<div class="icon">
		            		<div class="col-md-2 col-xs-4">
			            		<span class="fa fa-envelope fa-fw"></span>
			            	</div>
			            	<div class="col-md-10 col-xs-8">
		              			<span class="title">stephanie.c.noel@gmail.com</span>
		              		</div>
		              		<div class="clear"></div>
		              	</div>
		            </div>
		        </div>
				<div class="col-md-6 col-xs-12">
		            <div class="contact-item">
		            	<div class="icon">
		            		<div class="col-md-2 col-xs-4">
			            		<span class="fa fa-skype fa-fw"></span>
			            	</div>
			            	<div class="col-md-10 col-xs-8">
		              			<span class="title">stephanie.c.noel</span>
		              		</div>
		              		<div class="clear"></div>
		              	</div>
		            </div>
		        </div>
		        <div class="col-md-6 col-xs-12">
		            <div class="contact-item">
		            	<div class="icon">
		            		<div class="col-md-2 col-xs-4">
			            		<span class="fa fa-github fa-fw"></span>
			            	</div>
			            	<div class="col-md-10 col-xs-8">
		              			<span class="title">https://github.com/noelstepha</span>
		              		</div>
		              		<div class="clear"></div>
		              	</div>
		            </div>
		        </div>
		        <div class="col-md-6 col-xs-12">
		            <div class="contact-item">
		            	<div class="icon">
		            		<div class="col-md-2 col-xs-4">
			            		<span class="fa fa-twitter fa-fw"></span>
			            	</div>
			            	<div class="col-md-10 col-xs-8">
		              			<span class="title">https://twitter.com/Noel_Stepha</span>
		              		</div>
		              		<div class="clear"></div>
		              	</div>
		            </div>
				</div>
				<div class="col-md-6 col-xs-12">
		            <div class="contact-item">
		            	<div class="icon">
		            		<div class="col-md-2 col-xs-4">
			            		<span class="fa fa-linkedin fa-fw"></span>
			            	</div>
			            	<div class="col-md-10 col-xs-8">
		              			<span class="title">www.linkedin.com/in/stephanie-noel-4014b662</span>
		              		</div>
		              		<div class="clear"></div>
		              	</div>
		            </div>
				</div>
			</div>
			<br><br>
			<div class="row">
				<div class="col-md-12">
					{{#g-map lat=48.847768 lng=2.331114 zoom=15 as |context|}}
					  {{g-map-marker context lat=48.847768 lng=2.331114}}
					{{/g-map}}
				</div>
			</div>
		</div>
	</div>
</section>
