<section id="education" class="main-content container-fluid nopadding">
  <div class="row nopadding skin">
  	<div class="col-md-12">
		{{ribbon-title text="Double diploma MSc Information Technology (Software System)"}}
		<div class="row padding-50 diploma">
			<div class="col-md-2">
				<a href="https://www.hw.ac.uk/"><img src="assets/hw-logo.png"/></a>
			</div>
			<div class="col-md-10">
				<h2>Heriot-Watt University, Edinburgh, Scotland</h2>
				<p> 
					<i class="fa fa-chevron-right"></i>Improved knowledge to develop advanced softwares technics with the following 	courses : Systems Programming and Scripting, Advanced Software Engineering, Computer Network Security, 3D Modelling and Animation, Distributed and Parallel Technologies, etc. <br><br>

					<i class="fa fa-chevron-right"></i>Master Thesis : High-Speed Graph Manipulation for Multi-Cores - Evaluate the suitability of high-level data-parallel programming languages for the manipulation of graphs. <br>
				</p>
			</div>
		</div>
		{{ribbon-title text="MSc Information Systems Engineering"}}
		<div class="row padding-50 diploma">
			<div class="col-md-2">
				<a href="http://eisti.fr/en"><img src="assets/EISTI.png"/></a>
			</div>
			<div class="col-md-10">
				<h2>Ecole International des Sciences du Traitement de l’information, Pau, France</h2>
				<p>	<i class="fa fa-chevron-right"></i>Developed knowledge in specific computer sciences domains (data processing, data mining, biology inspired computation, network, system programming, parallel programming, etc.)
				</p>
			</div>
		</div>

		{{ribbon-title text="BSc Mathematics, Physics and Computer Sciences"}}
		<div class="row padding-50 diploma">
			<div class="col-md-2">
				<a href="http://eisti.fr/en"><img src="assets/EISTI.png"/></a>
			</div>
			<div class="col-md-10">
				<h2>Ecole International des Sciences du Traitement de l’information, Pau, France</h2>
				<p> <i class="fa fa-chevron-right"></i> Had a good understanding and practice of mathematical and physical concepts and approaches such as algebra, numerical analysis, statistics, electronic, etc.<br>
					<i class="fa fa-chevron-right"></i> Gained strong programming skills studying Computer Sciences fundamentals (algorithmic, functional, imperative, scripting, object-oriented languages, databases, etc.) and theories (AI, logic, theory of graphs, theory of
					languages, etc.)<br>
					<i class="fa fa-chevron-right"></i>Enhanced communication, teamwork and project management skills by working on small and medium projects.
			    </p>
			</div>
		</div>
		{{ribbon-title text="A-levels in engineering sciences"}}
		<div class="row" padding-50 diploma>
			<div class="col-md-2">
				<i class="fa fa-graduation-cap fa-lg"></i>
			</div>
			<div class="col-md-10">
				<h2>Immaculée Conception Beau Frêne, Pau, France</h2>
				<p>General Coverage: 13,61/20 ' B+. Mathematics (A-), Physics & Chemistry (A), Engineering Sciences (A)</p>
			</div>
		</div>
	</div>
  </div>
</section>