<section id="education" class="main-content container-fluid nopadding">
	<div class="row nopadding skin">
		<div class="padding-50">
   			<div class="row">
				<div class="col-md-12 section-title">
					<h3 class="uppercase">Education</h3>
				</div>
			</div>
			{{#timeline-list}}
				<div class="exp">
					<div class="hgroup">
						<h4>Double diploma MSc Information Technology (Software System)</h4>
						<h5>September 2013 - August 2014</h5>
						<h5 class="location">Edinburgh, Scotland</h5>
						<h5 class="information uppercase"><a href="https://www.hw.ac.uk/">Heriot-Watt University</a></h5>
					</div>
					<p>
						<i class="fa fa-chevron-right"></i> &nbsp; <strong>Master Thesis : High-Speed Graph Manipulation for Multi-Cores </strong>- Evaluate the suitability of high-level data-parallel programming languages for the manipulation of graphs. <br><br>

						<i class="fa fa-chevron-right"></i> &nbsp; Improved knowledge to develop advanced softwares technics with the following 	courses : Systems Programming and Scripting, Advanced Software Engineering, Computer Network Security, 3D Modelling and Animation, Distributed and Parallel Technologies, etc. <br><br>
						
					</p>
				</div>
				<div class="exp">
					<div class="hgroup">
						<h4>MSc Information Systems Engineering</h4>
						<h5>September 2012 - August 2013</h5>
						<h5 class="location">Pau, France</h5>
						<h5 class="information uppercase"><a href="http://eisti.fr/en">EISTI</a></h5>
					</div>
					<p>
						<i class="fa fa-chevron-right"></i> &nbsp; Developed knowledge in specific computer sciences domains (data processing, data mining, biology inspired computation, network, system programming, parallel programming, etc).
					</p>
				</div>
				<div class="exp">
					<div class="hgroup">
						<h4>BSc Mathematics, Physics and Computer Sciences</h4>
						<h5>September 2009 - August 2012</h5>
						<h5 class="location">Pau, France</h5>
						<h5 class="information uppercase"><a href="http://eisti.fr/en">EISTI</a></h5>
					</div>
					<p> <i class="fa fa-chevron-right"></i> &nbsp; Had a good understanding and practice of mathematical and physical concepts 	and approaches such as algebra, numerical analysis, statistics, electronic, etc.<br><br>
						<i class="fa fa-chevron-right"></i> &nbsp; Gained strong programming skills studying Computer Sciences fundamentals (algorithmic, functional, imperative, scripting, object-oriented languages, databases, etc.) and theories (AI, logic, theory of graphs, theory of
						languages, etc.)<br><br>
						<i class="fa fa-chevron-right"></i> &nbsp;Enhanced communication, teamwork and project management skills by working on small and medium projects.
			    	</p>
				</div>
			{{/timeline-list}}
		</div>
	</div>
</section>