
<section id="homesection" class="main-content container-fluid nopadding">
  <div class="row nopadding skin">
     <div class="col-md-7 nopadding" style="min-height: 375px;">
        <div class="padding-50" >
           <div class="row nopadding">
              <div class="col-md-12 nopadding">
                 <h3 class="font-accident-two-normal uppercase">About me</h3>
                 <div class="quote">
                    <h4 class="font-accident-one-bold color-light uppercase">Fond of computer sciences and new technologies,</h4>
                    <p>
                        I am a web application developer who appreciate discover and master new technologies to realize my projects and find innovative solutions. I am continually evaluating and upgrading my skills so that I stay at the cutting edge of web development. 
                       <br>
                       I have experience with the full stack of software development, strong backend knowledge in Java SE/EE and I understand how it fits in with the latest front-end technologies.
                       <br>
                       I am team-oriented and have the desire to work in a collaborative, transparent, highly communicative environment where questions and curiosity are highly valued.
                    </p>
                    <div>
                      <h4><span class="label label-primary">#Passionate</span>
                      <span class="label label-primary">#Ponctual</span>
                      <span class="label label-primary">#Creative</span>
                      <span class="label label-primary">#Hard-working</span>
                      <span class="label label-primary">#Grouchy</span>
                      <span class="label label-danger crossed">#Agressive</span>
                      <span class="label label-danger crossed">#Inflexible</span>
                      <span class="label label-danger crossed">#Narrow-minded</span>
                      <span class="label label-danger crossed">#Stubborn</span>
                      <span class="label label-danger crossed">#Individual</span></h4>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>

     <div class="col-md-5 personal nopadding l-grey" style="min-height: 460px;">
        <div class="padding-50">
           <h3 class="uppercase">Personal Info</h3>
           <br>
           <div>
              <div class="fullwidth box">
                 <div class="one"><p class="font-regular-bold uppercase">Name:</p></div>
                 <div class="two"><p>Stephanie Noel</p></div>
              </div>
              <br>
              <div class="fullwidth box">
                 <div class="one"><p class="uppercase text-nowrap">Birthdate:</p></div>
                 <div class="two"><p>01/01/1991</p></div>
              </div>
              <br>
              <div class="fullwidth box">
                 <div class="one"><p class="uppercase">Address:</p></div>
                 <div class="two"><p>7, rue Jean Bart, 75006, Paris, FRANCE</p></div>
              </div>
              <br>
              <div class="fullwidth box">
                 <div class="one"><p class="uppercase">Phone:</p></div>
                 <div class="two"><p>+33 7 88 49 12 38</p></div>
              </div>
              <br>
              <div class="fullwidth box">
                 <div class="one"><p class="uppercase">Email:</p></div>
                 <div class="two"><p>stephanie.c.noel@gmail.com</p></div>
              </div>
           </div>
        </div>
     </div>

  </div>

  <div class="row nopadding light-green">

     <div class="col-md-4 pro-experience nopadding light-font" style="height: 414px;">
        <div class="padding-50">
           <h3 class="uppercase light-font">Pro. Experience</h3>
           <br>
           <br>
           <div class="experience">
              <ul class="">
                 <li class="date">12/2014 - Today</li>
                 <li class="company uppercase">
                    <a>
                       Prima Solutions, Paris, France.
                    </a>
                 </li>
                 <li class="position">Full Stack Developer</li>
              </ul>
              <br>
              <ul class="">
                 <li class="date">04/2013 - 09/2013</li>
                 <li class="company uppercase">
                    <a>
                       Orange, Toulouse, France
                    </a>
                 </li>
                 <li class="position">Software Developer - Intern</li>
              </ul>
           </div>
           <a href="#!"><i class="flaticon-three-1"></i></a>
        </div>
     </div>

	<div class="col-md-8 skills light-blue" style="min-height: 414px;">
		<div class="row">
			<div class="col-md-12 padding-50">
				<h3 class="uppercase">My Professional skills</h3>
			</div>
		</div>
		<div class="row skills">
			<div class="col-md-4">					    
				<div id="activeBorder" class="active-border">
				        <div id="circle" class="circle">
				            <span class="prec 270" id="prec">90%</span>
				        </div>
				</div>
				<h4 class="uppercase">Front-End Development</h4>
				<p class="small">
                      Experience with modern web development tools and frameworks like AngularJS, EmberJS, Bootstrap, Less...
                   </p> 
			</div>
			<div class="col-md-4">
				<div id="activeBorder" class="active-border">
				        <div id="circle" class="circle">
				            <span class="prec 270" id="prec">90%</span>
				        </div>
				</div>
				<h4 class="uppercase">Back-End Development</h4>
				<p class="small">
                      Deep experience in building applications with Java SE/EE, (7 and 8) and with the frameworks that goes with it (Spring, etc...).
                   </p> 
			</div>
			<div class="col-md-4">
				<div id="activeBorder" class="active-border">
				        <div id="circle" class="circle">
				            <span class="prec 270" id="prec">90%</span>
				        </div>
				</div>
				<h4 class="uppercase">Software Design</h4>
				<p class="small">
        Strong Computer Science fundamentals, I have knowledge of unit testing and profiling. I produce high quality code that I like to design, review and discuss with my colleagues.
      </p> 
			</div>
		</div>
	</div>
	</div>
</section>