<section id="cd-timeline" class="main-content container-fluid nopadding">
	<div class="row nopadding skin">
		<div class="padding-50">
   			<div class="row">
				<div class="col-md-12 padding-50">
					<h3 class="uppercase">Experience</h3>
				</div>
			</div>
			{{#timeline-list}}
				<div class="exp">
					<div class="hgroup">
						<h4>Full Stack Developer</h4>
						<h5>December 2014 - Today</h5>
						<h5 class="location">Paris</h5>
						<h5 class="information uppercase"><a href="http://www.prima-solutions.com/?lang=en">Prima Solutions</a></h5>
					</div>
					<p>
						<ul>
							<li><i class="fa fa-chevron-right"></i> Use Scrum, Agile and Test-Driven Development methodologies.</li>
							<li><i class="fa fa-chevron-right"></i> Interact with business analysts to understand and specify user stories.</li> 
							<li><i class="fa fa-chevron-right"></i> Develop and maintain the application through the architecture, design, development, test, deploy and delivery phases.</li> 
							<li><i class="fa fa-chevron-right"></i> Participate to design meeting, code review and commit control.</li> 
						</ul>
					</p>
				</div>
				<div class="exp">
					<div class="hgroup">
						<h4>Internship, Software developer</h4>
						<h5>April 2013 - August 2013</h5>
						<h5 class="location">Toulouse</h5>
						<h5 class="information uppercase"><a href="http://www.orange.com/en/home">Orange</a></h5>
					</div>
					<p>
						Responsible for creating a server connected with an existing mobile application (Marketing, Image processing, C, and Java SE/EE)
						<ul>
							<li><i class="fa fa-chevron-right"></i> Planned the entire project by myself. </li> 
							<li><i class="fa fa-chevron-right"></i> Designed the model using UML tools. </li> 
							<li><i class="fa fa-chevron-right"></i> Realised presentations for clients. </li> 
							<li><i class="fa fa-chevron-right"></i> Developed and submit the work in the appropriate deadlines. </li> 
							<li><i class="fa fa-chevron-right"></i> Helped the marketing team in their work.</li> 
						</ul>
					</p>
				</div>
			{{/timeline-list}}
		</div>
	</div>
</section>
