<section id="resume" class="main-content container-fluid nopadding">
	<div class="row nopadding skin">
		<div class="padding-50">
   			<div class="row">
				<div class="col-md-12 section-title">
					<h3 class="uppercase">Experience</h3>
				</div>
			</div>
			{{#timeline-list}}
				<div class="exp">
					<div class="hgroup">
						<h4>Full Stack Developer</h4>
						<h5>December 2014 - Today</h5>
						<h5 class="location">Paris</h5>
						<h5 class="information uppercase"><a href="http://www.prima-solutions.com/?lang=en">Prima Solutions</a></h5>
					</div>
					<p>
						R&D team  :
						<ul>
							<li><i class="fa fa-chevron-right"></i> &nbsp; Participate in retrospection meetings and planning meetings to provide estimations for every sprint.</li>
							<li><i class="fa fa-chevron-right"></i> &nbsp; Work as part of a team to meet project targets and quality objectives using pair and mob programming.</li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Responsible for setting up a new front-end architecture with Angular.</li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Build reusable Angular modules for future use in projects.</li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Optimize packaging for maximum speed and performance.</li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Provide support to others teams on how to use Angular in their project.</li> 
						</ul>

						Project team (2 years) :
						<ul>
							<li><i class="fa fa-chevron-right"></i> &nbsp; Work closely with client and business analyst, understanding the specific needs and provide implementation plan.</li>
							<li><i class="fa fa-chevron-right"></i> &nbsp; Develop and maintain the application through the architecture, design, development, test, deploy and delivery phases.</li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Participate to design meeting and code review.</li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Manage communication with off-site subcontractor developers.</li> 
						</ul>

						<div>
							<h4>
								<span class="label label-success">Java SE/EE 8</span>
								<span class="label label-success">Maven</span>
								<span class="label label-success">MSSQL</span>
								<span class="label label-success">SQL/Oracle</span>
								<span class="label label-success">PL/SQL</span>
								<span class="label label-success">AngularJS</span>
								<span class="label label-success">Angular</span><br><br>
								<span class="label label-success">Angular CLI</span>
								<span class="label label-success">Webpack</span>
								<span class="label label-success">Jasmine</span>
								<span class="label label-success">karma</span>
								<span class="label label-success">Less</span>
								<span class="label label-success">Jenkins</span>
							</h4>
							
	                 	</div>
					</p>
				</div>
				<div class="exp">
					<div class="hgroup">
						<h4>Internship, Software Developer</h4>
						<h5>April 2013 - August 2013</h5>
						<h5 class="location">Toulouse</h5>
						<h5 class="information uppercase"><a href="http://www.orange.com/en/home">Orange</a></h5>
					</div>
					<p>
						Responsible for creating a server connected with an existing mobile application, to analyze photography of calendar and return its information.
						<ul>
							<li><i class="fa fa-chevron-right"></i> &nbsp; Planned the entire project by myself. </li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Designed the model using UML tools. </li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Realised presentations for clients. </li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Developed and submit the work in the appropriate deadlines. </li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Helped the marketing team in their work.</li> 
						</ul>

						<div>
							<h4>
							<span class="label label-success">Image processing</span>
							<span class="label label-success">Java SE/EE 7</span>
							<span class="label label-success">JavaCV</span><br><br>
							<span class="label label-success">C</span>
							<span class="label label-success">Leptonica</span>
							<span class="label label-success">OCR</span><br><br>
							<span class="label label-success">UML</span>
							<span class="label label-success">Marketing</span>
							</h4>
	                 	</div>
					</p>
				</div>
			{{/timeline-list}}
		</div>
	</div>
</section>
