<section id="resume" class="main-content container-fluid nopadding">
	<div class="row nopadding skin">
		<div class="padding-50">
   			<div class="row">
				<div class="col-md-12 section-title">
					<h3 class="uppercase">Experience</h3>
				</div>
			</div>
			{{#timeline-list}}
				<div class="exp">
					<div class="hgroup">
						<h4>Full Stack Developer</h4>
						<h5>December 2014 - Today</h5>
						<h5 class="location">Paris</h5>
						<h5 class="information uppercase"><a href="http://www.prima-solutions.com/?lang=en">Prima Solutions</a></h5>
					</div>
					<p>
						<ul>
							<li><i class="fa fa-chevron-right"></i> &nbsp; Use Scrum, Agile and Test-Driven Development methodologies.</li>
							<li><i class="fa fa-chevron-right"></i> &nbsp; Interact with business analysts to understand and specify user stories.</li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Develop and maintain the application through the architecture, design, development, test, deploy and delivery phases.</li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Participate to design meeting, code review and commit control.</li> 
						</ul>

						<div>
							<h4><span class="label label-success">Java SE/EE 8</span>
							<span class="label label-success">Spring</span>
							<span class="label label-success">MSSQL</span>
							<span class="label label-success">SQL/Oracle</span>
							<span class="label label-success">PL/SQL</span><br><br>
							<span class="label label-success">Angular JS 1</span>
							<span class="label label-success">Javascript ES5</span>
							<span class="label label-success">HTML</span>
							<span class="label label-success">CSS</span>
							<span class="label label-success">Less</span><br><br>
							<span class="label label-success">Jenkins</span>
							<span class="label label-success">Maven</span></h4>
	                 	</div>
					</p>
				</div>
				<div class="exp">
					<div class="hgroup">
						<h4>Internship, Software Developer</h4>
						<h5>April 2013 - August 2013</h5>
						<h5 class="location">Toulouse</h5>
						<h5 class="information uppercase"><a href="http://www.orange.com/en/home">Orange</a></h5>
					</div>
					<p>
						Responsible for creating a server connected with an existing mobile application, to analyze photography of calendar and return its information.
						<ul>
							<li><i class="fa fa-chevron-right"></i> &nbsp; Planned the entire project by myself. </li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Designed the model using UML tools. </li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Realised presentations for clients. </li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Developed and submit the work in the appropriate deadlines. </li> 
							<li><i class="fa fa-chevron-right"></i> &nbsp; Helped the marketing team in their work.</li> 
						</ul>

						<div>
							<h4>
							<span class="label label-success">Image processing</span>
							<span class="label label-success">Java SE/EE 7</span>
							<span class="label label-success">JavaCV</span><br><br>
							<span class="label label-success">C</span>
							<span class="label label-success">Leptonica</span>
							<span class="label label-success">OCR</span><br><br>
							<span class="label label-success">UML</span>
							<span class="label label-success">Marketing</span>
							</h4>
	                 	</div>
					</p>
				</div>
			{{/timeline-list}}
		</div>
	</div>
</section>
