<section id="skills" class="main-content container-fluid nopadding">
    <div class="row nopadding skin">
    	<div class="padding-50">
    		<div class="row">
				<div class="col-md-12 section-title">
					<h3 class="uppercase">Skills</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
			    	<h4 class="uppercase category-title"><i class="fa fa-language"></i>&nbsp; Languages</h4>
			    	<div class="row">
			    		<div class="col-md-4 language-item">
			    			<img class="flag" src="assets/french.svg" alt="France Flag">&nbsp; Native level
			    		</div>
						<div class="col-md-4 language-item">
			    			<img class="flag" src="assets/english.svg" alt="United Kingdom Flag"><span> &nbsp;Upper Intermediate level<br></span>
			    		</div>
						<div class="col-md-4 language-item">
			    			<img class="flag" src="assets/spain.svg" alt="Spain Flag"><span> &nbsp;Elementary level</span>
			    		</div>
			    	</div>
			    </div>
		    </div>
			<div class="row">
				<div class="col-md-12">
			    	<h4 class="uppercase category-title"><i class="fa fa-code"></i>&nbsp; Programming Languages</h4>
			    	<div class="ranking">
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<h5>Java SE/EE, 7 et 8</h5>
			    		</div>
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star-o"></i>
				    		<i class="fa fa-star-o"></i>
				    		<h5>C, C++</h5>
				    	</div>
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star-half-empty"></i>
				    		<i class="fa fa-star-o"></i>
				    		<i class="fa fa-star-o"></i>
				    		<h5>C#</h5>
				    	</div>
				    	<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star-half-empty"></i>
				    		<i class="fa fa-star-o"></i>
				    		<i class="fa fa-star-o"></i>
				    		<h5>PHP</h5>
				    	</div>
			    	</div>
			    </div>
		    </div>
		    <div class="row">
				<div class="col-md-12">
			    	<h4 class="uppercase category-title"><i class="fa fa-laptop"></i>&nbsp; Front-End Knowledge</h4>
			    	<div class="ranking">
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<h5>HTML 5, CSS 3, Bootstrap</h5>
			    		</div>
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star-half-empty"></i>
				    		<h5>JavaScript</h5>
			    		</div>
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<h5>Angular JS 1</h5>
			    		</div>
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star-half-empty"></i>
				    		<i class="fa fa-star-o"></i>
				    		<i class="fa fa-star-o"></i>
				    		<h5>Ember JS</h5>
			    		</div>
			    	</div>
			    </div>
		    </div>
		    <div class="row">
				<div class="col-md-12">
			    	<h4 class="uppercase category-title"><i class="fa fa-database"></i>&nbsp; Database Knowledge</h4>
			    	<div class="ranking">
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star-half-empty"></i>
				    		<i class="fa fa-star-o"></i>
				    		<h5>SQL/Oracle</h5>
			    		</div>
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star-half-empty"></i>
				    		<i class="fa fa-star-o"></i>
				    		<h5>MSSQL</h5>
			    		</div>
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star-half-empty"></i>
				    		<i class="fa fa-star-o"></i>
				    		<h5>MySQL</h5>
			    		</div>
			    	</div>
			    </div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="uppercase category-title"><i class="fa fa-cogs"></i>&nbsp; Operating Systems</h4>
			    	<div class="ranking">
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star-o"></i>
				    		<h5>Linux</h5>
			    		</div>
			    		<div>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star"></i>
				    		<i class="fa fa-star-o"></i>
				    		<i class="fa fa-star-o"></i>
				    		<h5>Windows</h5>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</section>